<appSettings>
	<add key="FacebookAppId" value="1689929671308504"/>
	<add key="FacebookAppSecret" value="b042ef14396e6add7022fc969346bb40"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>